body{
	background-color: #ffffff;
}
#banner1{
	width: 100%;
	height: 200px;
	display:block;
	background-color:#914295;
}
/* header */
.header {
  background-color: #ffffff;
  height: 150px;
  line-height: 70px;
}

.header img {
  width: 120px;
  height: 150px;
}

.logo {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.menu {
  float: right;
  margin-right: 24%;
  margin-top: 70px;
}

.menu ul
 {
   margin:0;
   padding:0;
   line-height:30px;
 }
 .menu li{
   list-style:none;
   float:left;
   margin-left:0px;
   position:relative;
   background-color:#ffffff;

 }
 .menu ul li a
 {
   color: #000000;
   text-decoration:none;
   width:150px;
   height:30px;
   display:block;
   text-align:center;
   background-color: #bb7b3d;
   border-radius: 10px;
   border:1px solid #000;
   text-shadow:1px 1px 1px 3e3f44;
   font-size: 14px;
 }
 .menu ul ul
 {
   position:absolute;
   top:31px;
   visibility:hidden;
   z-index: 100;
 }

.menu ul li a:hover {
	text-transform: uppercase;
	color: #ffffff;
	background-color: #352109;
}

 .menu ul li:hover ul
 {
   visibility:visible;
 }
 .menu li: hover
 {
   background-color: #352109;
 }
 .menu ul li ul a:hover
 {
   color: #ffffff;
   background-color: #352109;
   text-transform: uppercase;
 }

 .slogan {
	 text-align: center;
 }

 .inner {
	 position: absolute;
	 top: 65%;
	 width: 65%;
	 text-align: center;
	 font-family: 'brush script std';
 }

 .inner h1 {
	 color: #ffffff;
   text-shadow: 1px 1px 20px #000000;
 }

#corps > p{
	margin-left: 270px;
	font-size: 30px;
}
#livrer{
	width: 900px;
}
#slide{
	margin-left: 270px;
	height: 535px;
	width: 900px;
}
#slide img{
	width: 908px;
	height: 530px;
}
.photo_homme{
	margin-left: 270px;
	width: 910px;
	max-height: 2500px;
	margin-top: 5%;
}
.photo_homme li{
	float: left;
}

.photo_femme{
	margin-left: 270px;
	width: 910px;
	max-height: 2500px;
	margin-top: 5%;
}
.photo_femme li{
	float: left;
}

.titrepartie {
	text-align: center;
}

.separateur {
	width: 50px;
	height: 5px;
	background-color: #ff0000;
}

.about {
	margin-top: 5%;
	background-color: #ececec;
	padding-bottom: 2%;
}
.about p {
	margin-left: 30%;
	width: 40%;
}

.contact {
	margin-top: 5%;
	background-color: #ececec;
}

.formulaire input{
	width: 300px;
}

.formulaire textarea {
	resize: vertical;
	width: 300px;
	min-height: 100px;
	max-height: 200px;
}

footer{
	background-color: #ececec;
}
